<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="menu">
<head>
    <meta charset="UTF-8" >
    <title>History</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384- KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384- ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/star.css" rel="stylesheet"/>
    <link href="/button.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .pre-scrollable{ height:500px;
            overflow-y: scroll;
        }
        h1 {
            text-align: center;
        }

        body{
            background-image: linear-gradient(to right, #36669c,#77f07f);
        }

        table, th, td{

            border: #f2f2f3 solid 2px;
            border-collapse: collapse;


        }

        th, td {
            background-color: #d7d9da;
            text-align: center;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <h1 id = "profile header">History</h1>
    <div class="container mt-2 pre-scrollable">
        <div class="card-header"> </div>
        <div class="card-body">

            <table class="table table-striped" style="width: 90%">
                <thead>
                <tr>
                    <th scope="col">Post ID</th><th scope="col">Student ID</th><th scope="col">Name</th><th scope="col">Title</th><th scope="col">Rating</th>
                </tr>
                </thead>
                <tbody> <tr th:each="p:${History}">
                    <td th:text="${p.postID}"></td>
                    <td th:text="${p.getSID()}"></td>
                    <td th:text="${p.getFirstName()} + ${p.getLastName()}"></td>
                    <td th:text="${p.getTitle()}"></td>
                    <td> <div id="rating" class="star-rating">
                        <span id="star1" th:if="${p.getRate() >= 1}" th:field="${p.rate}" th:value="1" class="fa fa-star" style="color: yellow" ></span>
                        <span id="star1" th:if="${p.getRate() < 1}" th:field="${p.rate}" th:value="1" class="fa fa-star" ></span>
                        <span id="star2" th:if="${p.getRate() >= 2}" th:field="${p.rate}" th:value="2" class="fa fa-star" style="color: yellow" ></span>
                        <span id="star2" th:if="${p.getRate() < 2}" th:field="${p.rate}" th:value="2" class="fa fa-star" ></span>
                        <span id="star3" th:if="${p.getRate() >= 3}" th:field="${p.rate}" th:value="3" class="fa fa-star" style="color: yellow" ></span>
                        <span id="star3" th:if="${p.getRate() < 3}" th:field="${p.rate}" th:value="3" class="fa fa-star" ></span>
                        <span id="star4" th:if="${p.getRate() >= 4}" th:field="${p.rate}" th:value="4" class="fa fa-star" style="color: yellow" ></span>
                        <span id="star4" th:if="${p.getRate() < 4}" th:field="${p.rate}" th:value="4" class="fa fa-star" ></span>
                        <span id="star5" th:if="${p.getRate() >= 5}" th:field="${p.rate}" th:value="5" class="fa fa-star" style="color: yellow" ></span>
                        <span id="star5" th:if="${p.getRate() < 5}" th:field="${p.rate}" th:value="5" class="fa fa-star" ></span>


<!--                        <form class="mb-3" name="myform" id="myform" method="post">-->
<!--                            <fieldset>-->
<!--                                <input type="radio" name="reviewStar" value="5" id="rate1"><label-->
<!--                                    for="rate1">★</label>-->
<!--                                <input type="radio" name="reviewStar" value="4" id="rate2"><label-->
<!--                                    for="rate2">★</label>-->
<!--                                <input type="radio" name="reviewStar" value="3" id="rate3"><label-->
<!--                                    for="rate3">★</label>-->
<!--                                <input type="radio" name="reviewStar" value="2" id="rate4"><label-->
<!--                                    for="rate4">★</label>-->
<!--                                <input type="radio" name="reviewStar" value="1" id="rate5"><label-->
<!--                                    for="rate5">★</label>-->


<!--                            </fieldset>-->
<!--                        </form>-->

                    </div></td>
                </tr>
                </tbody>
            </table>




        </div>
    </div>
</section>
</body>
</html>