<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" >
    <title>Login</title>
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/content.css">
    <link rel="stylesheet" href="/button.css">

</head>

<body>
<section class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 text-center">
                <h1 class="display-4 text-primary">Welcome to StudyBud</h1>
            </div>
        </div>
<th:block layout:fragment="content">
    <div class="login_wrapper container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100 pt-10">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="login.png" class="img-fluid"
                     alt="Sample image">
            </div>

         <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post" th:action="@{/login}" th:object="${student}">

            <div class="form-outline mb-4">
                <input type="text"  class="form-control form-control-lg" th:field="*{SID}" placeholder="Student ID" autocomplete="off" required/>
            </div>

            <div class="form-outline mb-3">
                <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" autocomplete="off" required/>
            </div>
            <div>
                <input type="hidden"  class="form-control" th:field="*{CID}"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-lg form-control mb-3" id="btn_login">Login</button>
            </div>
        </form>
        </div>
        <hr class="separator mt-lg-4"/>
    </div>
    </div>
</th:block>
    </div>
</section>
</body>
<footer>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white text-center mb-3 mb-md-0">
            Copyright © 2023. All rights reserved.
        </div>
        <!-- Copyright -->
    </div>
</footer>
</html>